.events-container {
  padding: 20px;
  text-align: center;
}

p{
  color: black;
}
h1 {
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.back-button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #f51515;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.event-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-detail {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #333;
}

.event-card strong {
  font-weight: bold;
}
/* Style for small images */
.small-image {
width: 100px;
height: auto;
cursor: pointer;
transition: transform 0.2s;
}

.small-image:hover {
transform: scale(1.1);
}

/* Modal container */
.modal {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
z-index: 1000;
}

/* Close button */
.close {
position: absolute;
top: 20px;
right: 30px;
color: #fff;
font-size: 40px;
font-weight: bold;
cursor: pointer;
z-index: 1001;
}

/* Enlarged image */
.modal-content {
max-width: 90%;
max-height: 90%;
border: 2px solid #fff;
border-radius: 5px;
}